@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono:regular);

body{
width: 100%;
height: 100vh;
flex: 100%;
overflow: hidden;
background-image: url(background.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
font-family: "Share Tech Mono";
margin: 0;
padding: 0;
}
*{
    cursor: url(crosshair.png) 16 16, crosshair;
    user-select: none;
}

.enemy{
    position: absolute;
    height: 50%;
    background-image: url(enemy.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*added hitbox */
    /* border: 1px solid red; */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats{
    padding: 5px 20px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    color: black;
    font-size: 18px;
}

.press{
    padding: 5px 25px;
    margin: 10px;
    font-size: 20px;
    background-color: grey;
}

.press:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.home > button:hover{

    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.viewmodel{
    position: absolute;
    top: 35%;
    left: 20%;
    width: 75%;
    height: 75%;
}

#gameoverscreen{
    /*place over background image*/
    z-index: 1000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    /*transparent black background */
    background-color: rgba(20,20,20, .9);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    flex-direction: column;
}

.gameover{
    font-size: 100px;
    color: red;
}

.gameoverscore{
    font-size: 40px;
    color: whitesmoke;
}

#score{
    color: green;
}

.restart > button{
    background-color: blue;
    border: 0;
    outline: 0;
    font-size: 30px;
    padding: 5px 30px;
    color: whitesmoke;
    margin-top: 5em;
}

.restart > button:hover{

    background-color: white;
    color: black;
    cursor: pointer;
}
.gameoveraccuracy{
    font-size: 40px;
    color: white;
}
#accuracy-stat{
    color: green;
}

.home{
    background-color: grey;
    outline: 0;
    font-size: 30px;
    color: white;
    margin-top: 15em;
}
#tip{
    color: red;
    font-size: 35px;
    margin-top: 15px;

}


/* CSS for view model following crosshair, not sure I will get to this*/
/* #follow{
    position: absolute;
    text-align: center;
} */