@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono:regular);

body {

    height:100vh;
    background-color: black;
    text-align: center;
    font-family: "Share Tech Mono";
    background-repeat: no-repeat;
}

h3{
  color: grey;
}

.press{
    cursor: pointer;
    border: solid black 1;
    color: inherit;
    background:inherit;

  
}
.start{
    cursor: pointer;
    border: 1em solid red;
    background-color: transparent;
    font-size: medium;
    color: red;
    padding: 1em 1em;
   
}

.press:active {
background-color: grey;
  }

  footer{
    padding-top: 25vh;
    color: grey;
  }

  

/* select loadout buttons */
#loadout-selector > button{
  margin: 4px;
background-color: transparent;
outline: 0;
border: 1px solid white;
}
/* select loadout button when hovering */
#loadout-selector > button:hover{
background-color: grey;
}
/* edit loadout button when selected */
#loadout-selector > button.active{
  background-color: grey;
}

/* select loadout button images */
#loadout-selector > button > img{
  height: 100px;
  width: auto;
}

/*home page back ground image
#homepage{

}*/

#webname{
  display: grid;
  min-height: 15vh;
  place-content: center;
  text-align: center;
}

h1{
position: relative;
font-size: 50px;
color: red;
filter: brightness(94%);
border-right: 5px red solid;
overflow: hidden;
width: 100%;
white-space: nowrap;
animation:
 typer 3s steps(13),
 blink .4s step-end infinite alternate;
}

/* title typing effect that I have not finished */
/* h1::before{
  background-color: teal;
  animation: typing 4s steps(12) forwards;
}
h1::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  border-left: 2px solid red;
  animation: typing 1.5s steps(10) infinite;
  } */
  @keyframes blink {
    50%{
      border-color: transparent;
    }

  }

  @keyframes typer {
    from{width: 0}
  }