@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono:regular);

body {

    height:100vh;
    color: grey;
    background-color: black;
    text-align: center;
    font-family: "Share+Tech+Mono:regular", sans-serif;
}

.press{
    cursor: pointer;
    border: solid black 1;
    color: inherit;
    background:inherit;

  
}
.start{
    cursor: pointer;
    border: 1em solid red;
    background-color: transparent;
    font-size: medium;
    color: red;
    padding: 1em 1em;
   
}

.press:active {
background-color: grey;
  }

  img{
    height: 20%;
    width: 20%;
  }

  footer{
    padding-top: 25vh;
  }

  
